interfaces {
{% for iface in underlay_interfaces %}
    {{ iface.name }} {
        unit 0 {
            family iso;
        }
    }
{% endfor %}
    lo0 {
        unit 0 {
            family iso {
                address {{ iso_address }};
            }
        }
    }
}

protocols {
    isis {
{% for iface in underlay_interfaces %}
        interface {{ iface.name }}.0 {
            level 1 disable;
        }
{% endfor %}
        interface lo0.0;
    }
}