version 21.1R3.11;

system {
    host-name {{ hostname }};
    scripts {
        language python;
    }
    services {
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
        }
        rest {
            http {
                port 3000;
            }
            enable-explorer;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag all;
            }
        }
    }
}

chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 8;
        }
        lite-mode;
    }
}

interfaces {
{% for iface in underlay_interfaces %}
    {{ iface.name }} {
        unit 0 {
            family inet {
                address {{ iface.address }};
            }
            family iso;
        }
    }
{% endfor %}
    fxp0 {
        unit 0 {
            family inet {
                address {{ fxp0_ip }};
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address {{ loopback_ip }}/32;
            }
            family iso {
                address {{ iso_address }};
            }
        }
    }
}

routing-options {
    router-id {{ router_id }};
    static {
        route 0.0.0.0/0 next-hop {{ default_route_next_hop }};
    }
}

protocols {
    isis {
{% for iface in underlay_interfaces %}
        interface {{ iface.name }}.0 {
            level 1 disable;
        }
{% endfor %}
        interface lo0.0;
    }
}